*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
}
.hidden {
	display: none;
}
.carousel img {
	width: 100%;
	height: auto;
}
.parallax {
	background-attachment: fixed;
	background-position: 50% 0;
	position: relative;
}
header{
	background-image: url(../img/top\ oboi.jpg);
	background-repeat: repeat-x;
	background-position: top center;
	min-height: 800px;
	position: relative;
	font-family: "BebasRegular";
}
header a{
	color: #fff;
}
.top_line {
	min-height: 97px;
	-webkit-box-shadow: rgba(255,255,255,.3) 0 0 0 1px;
	box-shadow: rgba(255,255,255,.3) 0 0 0 1px;
	width: 100%;
	background-color: rgba(0,0,0,.6);
	padding: 22px 0;
}
.top_line a{
	font-size: 21px;
	border-bottom: #fff dashed 1px;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.top_line a:hover{
	border-bottom: transparent 1px dashed;
}
.top_addr {
	padding-left: 60px;
	background-image: url(../img/geometka-64x64.png) ;
	background-repeat: no-repeat;
	background-position: top left;
	font-family: "BebasBold";
	line-height: 30px;
}
.top_addr strong{
	color: #d12f22;
	display: block;
	font-weight:normal;
	text-transform: uppercase;
	font-size: 32px;
}
.top_line .logo {
	border-bottom: none;
	position: absolute;
	margin-top: -18px;
}
.top_line .logo:hover{
	border-bottom:  none;
}
.logo_wrap {
	position: relative;
	width: 109px;
	margin: auto;
}
.ta_right{
	background-image: none;
	padding-left: 0;
	text-align: right;
}
.ta_right span {
	color: #fff;
}
header h1 {
	text-align: center;
	color: #fff;
	margin-top: 65px;
	font-size: 40px;
	text-shadow: rgba(0, 0, 0, .4) 0 2px;
	font-family: "BebasRegular";
}
.button {
	background-color: #d12f22;
	display: inline-block;
	font-size: 20px;
	height: 50px;
	line-height: 50px;
	padding: 0 25px;
	vertical-align: middle;
	border-bottom: #AC160A 4px solid;
	color: #fff;
	font-family: "BebasBold";
}
.button:hover {
	background-color: #e64437;
}
.button:active {
	background-color: #b81609;
}
header .button{
	margin-right: 20px;
}
.st_button {
	line-height: 18px;
	padding-top: 7px;
	text-align: left;
	padding-left: 63px;
	background-image: url(../img/fotik.png);
	background-repeat: no-repeat;
	background-position: 8px 8px;
}
.buttons_top {
	bottom: 32px;
	position: absolute;
	width: 100%;
}
.top_mnu {
	height: 62px;
	background-color: #242424;
	-webkit-box-shadow: rgba(255,255,255,.3) 0 0 0 1px;
	box-shadow: rgba(255,255,255,.3) 0 0 0 1px;
	font-family: "BebasRegular";
	text-transform: uppercase;
}
.top_mnu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.top_mnu a {
	color: #fff;
	font-size: 20px;
	padding: 0 26px;
	display: block;
	height: 62px;
	line-height: 62px;
	border-left: #383838 1px solid;
}
.top_mnu li {
	float: left;
}
.top_mnu li.active a,
.top_mnu li:hover a{
	background-color: #050505;
}
.waranty {
	border: 3px solid #fff;
	border-radius: 3px;
	color: #fff;
	cursor: default;
	float: right;
	font-size: 15px;
	padding: 3px 5px; 
	line-height: 16px;
	margin-top: 8px;
}
.w_left,
.w_right {
	display: inline-block;
	vertical-align: top;
}
.w_left span{
	font-size: 34px;
	font-family: "BebasBold";
}
.w_left {
	font-family: "BebasBold";
	font-size: 20px;
	margin-top: 10px;
	margin-right: 7px;
}
.w_right {
	font-family: "RobotoCondensedRegular";
}
.main_cats {
	background-color: #191919;
	padding: 20px 0 40px;
}
.main_cats h2,
h2.art_header  {
	text-transform: uppercase;
	color: #c9c9c9;
	font-size: 40px;
	text-align: center;
	font-family: "BebasRegular";

}
.main_cats h2 strong {
	color: #fff;
	font-family: "BebasRegular"; 

}
.main_cats h2 span {
	color: #d12f22;
}
section h2,
article h2 {
	position: relative;
}
.s_black h2::before {
	content: "";
	position: absolute;
	width: 50px;
	height: 30px;
	background-image: url("../img/flag.png"); 
	top: 19px;
	margin-left: -60px; 
}
.s_black h2::after {
	content: "";
	position: absolute;
	width: 50px;
	height: 30px;
	background-image: url("../img/flag.png"); 
	top: 20px;
	margin-left: 10px; 
	background-position: -50px 0;
}
article h2.art_header::before {
	content: "";
	position: absolute;
	width: 50px;
	height: 30px;
	background-image: url("../img/flag.png"); 
	top: 19px;
	margin-left: -60px; 
}
article h2.art_header::after {
	content: "";
	position: absolute;
	width: 50px;
	height: 30px;
	background-image: url("../img/flag.png"); 
	top: 20px;
	margin-left: 10px; 
	background-position: -50px 0;
}
.mc_item {
	border: #353535 1px solid;
	border-radius: 2px;

}
.mc_item_wrap {
	margin-left: 30px;
	width: 160px;
	display: inline-block;
	text-align: center;
}
.mc_item_wrap:nth-child(1) {
	margin-left: 0;
}
.mc_wrap {
	text-align: center;
	padding: 0;
	position: relative;
}
.mc_item_wrap a {
	color: #fff;
}
.mc_item span {
	display: block;
	width: 85px;
	height: 130px;
	background-image: url();
	margin:15px auto 0;
}
.mc_item_wrap:nth-child(1) span {
	background-position: 9px 0;
}
.mc_item_wrap:nth-child(2) span {
	background-position: -125px 0;
}
.mc_item_wrap:nth-child(3) span {
	background-position: -266px 0;
}
.mc_item_wrap:nth-child(4) span {
	background-position: -390px 0;
}
.mc_item_wrap:nth-child(5) span {
	background-position: -528px 0;
}
.mc_item_wrap:nth-child(6) span {
	background-position: 660px 0;
}
.mc_item h4 {
	font-weight: normal;
	font-family: "BebasBold";
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 7px;
}
.mc_item a:hover h4,
.mc_item_wrap.active h4 {
	text-decoration: underline;
}
.mc_item_wrap.active,
.mc_item_wrap:hover  {
	background-color: #2A2A2A;
}
.mc_toggle {
	background-color: #212121;
	position: relative;
	cursor: pointer;
	height: 25px;
	background-image: url();
	background-repeat: no-repeat;
	background-position: 73px 10px;
}
.mc_item_wrap.active .mc_toggle,
.mc_item_wrap:hover .mc_toggle {
	background-color: #353535;
	background-position: -118px 10px;
}
body .mc_wrap .mc_item_wrap> ul {
	position: absolute;
	width: 100%;
	font-size: 20px;
	background-color: #353535;
	margin-top: 25px;
	padding: 15px 0;
	list-style-type: none;
	z-index: 10;
	display: none;
	left: 0;
}
.mc_item_wrap.active> ul li {
	font-family: "BebasRegular";
	display: inline-block;
}
.mc_item_wrap.active> ul {
	margin: 0;
	padding: 0;
	list-style-type: none;

}
.mc_item_wrap.active> ul li a {
	padding: 0 10px;
	text-decoration: underline;
}
.mc_item_wrap.active> ul li a:hover {
	text-decoration: none;
}
.mc_item_wrap_af {
	background-image: url("../img/pngwing.com.png") ;
	content:"";
	height: 9px;
	width: 18px;
	position: absolute;
	margin: 16px 69px;
	display: none;
}
.mc_button_w {
	text-align: center;
	margin-top: 350px;
}
article.content {
	background-color: #E9E9E9;
}
article .art_header {
	color:#050505;
	margin-bottom: 10px;
}
p.h_descr {
	max-width: 790px;
	text-align: center;
	margin: auto;
	margin-top: 0;
	color: #050505;
}
.home_items {
	background-color: #D6D6D6;
	padding: 40px 0;
	margin-top: 40px;
}
.hi_item {
	color: #050505;
	text-align: center;
	font-size: 14px;
	margin-bottom: 50px;
}
.hi_item img {
	max-width: 100%;
	border-top: #AC160A 8px solid;
}
.s_bottom img {
	max-width: 90%;
	position: absolute;
	bottom: 0;	
}
.s_bottom {
	padding-top: 32px;
}
.sb_header.button_cont {
	text-align: right;
}
.sb_header h2 {
	margin: 0;
	text-transform: uppercase;
	font-family: "BebasRegular";
	font-size: 36px;
}
.sb_content {
	margin-top: 30px;
}
footer {
	background-color: #2A2A2A;
	color: #fff;
	padding: 28px 0 35px;
	font-family: "BebasBold";
	font-size: 20px;
}
footer a {
	color: #fff;
	text-decoration: underline;

}
footer a:hover {
	text-decoration: none;
}
footer ul {
	list-style-type: none;
	margin: 0;
	padding:0;
}
footer li {
	float: left;

}
footer a {
	padding: 0 10px;
}